*{
    margin: 0px;
    padding: 0px;/
    /* box-sizing: border-box; */


}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

   background-image: url(3041356.jpg);
}

.cards{
    width: 28%;
    height: 500px;
    background-color: rgba(rgba(255, 0, 0, 0.705), rgba(0, 128, 0, 0.705), rgba(0, 0, 255, 0.705), alpha);
    border-radius: 18px;
    margin: 40px;
    box-shadow: 3px 3px 10px rgba(12, 12, 12, 0.663);
    
     display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cards input{
    width: 250px;
    height: 25px;
    background-color: rgba(3, 3, 3, 0.034);
    border: none;
    border-radius: 2px;

}

/* ===== log in page css ===== */

.login_main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.763);
   /* background-image: url(3041356.jpg); */
}

.login_cards{
    width: 25%;
    height: 500px;
    /* background-color: rgb(245, 245, 245); */
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    margin: 40px;
    box-shadow: 3px 3px 10px rgba(255, 252, 252, 0.663);
    
     display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.log_input{
    width: 220px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.639);
    border: none;
    border-radius: 4px;
}

.log_button{
    width: 220px;
    height: 35;
    
    background-color: rgba(255, 255, 255, 0.639);
}



/* ===========  home page ========= */

.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(211, 203, 203, 0);
    position: fixed;
    box-shadow: 2px 2px 5px white;
    

}

.navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 35px;
   
}

.navbar nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}



.navbar nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: white;
    /* transform: scaleX(0); */
    /* transform-origin: right; */
    transition: width .4s linear;
}

.navbar nav ul li a:hover:before{
/* transform: scaleX(1); */
/* transform-origin: left; */
width: 100%;
}


.navbar nav ul li a:hover{
    color: rgb(155, 155, 159);
}

.navbar nav ul li i{
    color: white;
    font-size: 20px;
}


/* section 1 */

#firstpage{
    width: 100%;
    height: 100vh;
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

}

#firstpage div{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
#firstpage i{
    margin-top: 300px;
    font-size: 35px;
    color: rgb(70, 66, 66);
   
    
}
#firstpage img{
    margin-top: 50px;
    width: 300px;
    height: 300px;
}